.{$px}Choice
    visibility: visible;
    &-title
        position: relative
        
    &-text
        padding-right: 20px
    &-arrow
        width: 12px
        height: 8px
        background: img('icons','arrowMuted.svg') 0 0 no-repeat
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
