@import 'stylus/variables.styl'
@import 'stylus/mixins.styl'
@import 'stylus/stylus-mixins/'

@import 'stylus/normalize.styl' // Подключение нормализации
//@import 'stylus/icons.styl' // Подключение иконок

@import '../assets/fonts/'

@import '../bricks/basic/form/form.styl'
@import '../bricks/basic/logo/logo.styl'
@import '../bricks/basic/menu/menu.styl'
@import '../bricks/basic/modal/modal.styl'
@import '../bricks/basic/pict/pict.styl'
@import '../bricks/basic/row/row.styl'
@import '../bricks/basic/tags/tags.styl'
@import '../bricks/basic/title/title.styl'
@import '../bricks/basic/wrap/wrap.styl'
@import '../bricks/basic/avatar/avatar.styl'
@import '../bricks/basic/progress/progress.styl'
@import '../bricks/basic/media/media.styl'
@import '../bricks/basic/button/button'
@import '../bricks/basic/avatar/avatar'
//END

//@import 'stylus/scripts/' // Скрипты










