// Основной префикс
$px = ''
$pxm = '.'
//".rt--"

// Для двух выводов. Сейчас переработано для адаптива
//flag = 0
//$devices = flag==0?'mobile':'desktop'
// Для удобства сделал переход через флаг, не обязательный функционал

$block = ''

$phone = 480px
$tablet = 990px
$desktop = 1200px // точка адаптации между мобильной версией и десктопом
$maxWidth = 1600px // Максимальная ширина с контейнерами

//fontMain = Lato, Arial, "Helvetica CY", Helvetica, "Nimbus Sans L", sans-serif
fontMain = Roboto, Verdana, Arial, "Helvetica CY", Helvetica, "Nimbus Sans L", sans-serif
fontAddit = BebasNeue, Verdana, Arial, "Helvetica CY", Helvetica, "Nimbus Sans L", sans-serif
fontAddit = fontMain

/*---------------- Основные цвета ----------------*/
clr-white = #ffffff
clr-black = #000000
clr-lt= #f3f4f9
clr-danger = #f26d7d
clr-muted = #71747a
clr-success = #3cb878
clr-info = #e98338;
clr-joy = #ffc000;
clr-primary = #0063d1;
clr-primary_dark = #0066cc;
clr-warning = #f98561;
clr-dk = #1f2126;
/*-----------  Текст - цвета  -----------*/
text-main = #424650
text-muted = clr-muted
text-placeholder = #a3afb5


/*---------------- Фоны ----------------*/
bg-lt = #fafafa
bg-muted = #eceff1
bg-primary = #12a3d6
bg-navigate_ACTIVE = #e0e0e0
bg-navigate = clr-lt
bg-navigateTabs = #37474f
bg-navigate_muted = bg-lt
bg-navigateTabs_muted = #eee
bg-header_dark = #263238

/*---------------- Границы ----------------*/
bd-input = #aaa

bd-radius_nr = 5px

/*---------------- Размеры блоков ----------------*/
height-header = 57px
input-height = 27px
input-padding = 0px 10px 12px
input-borderWidth = 1px

/*-----------  Настройки сообщений  -----------*/
message-side = 30px
message-side-margin = 15px

/*---------------- Размеры шрифтов ----------------*/
font-xs = 12px
font-sm = 13px

font-nrm = 14px
font-nr = 16px
font-nrp = 18px

font-mdm = 20px
font-md = 22px
font-mdp = 24px

font-lgm = 36px
font-lg = 38px

font-xl = 77px
font-xxl = 96px

/*---------------- Иконки ----------------*/

icon-back_primary = embedurl('../img/svg/back.svg')

// Иконка для логотипа
icon-logo = embedurl('../img/logo.png')

// Иконка для скайпа
icon-skype = embedurl('../img/icons/skype.png')

// Иконка для почты
icon-mail = embedurl('../img/icons/mail.png')










































