.{$px}Product
    visibility: visible;
    padding-left: 95px
    padding-right: 0px
    max-width: 1336px
    margin-left: auto
    margin-right: auto
    &-ratingInput
        display: flex
        align-items: center
    +m(700px)
        padding-left: 0
    &-props
        visibility: visible
    
    &-prop
        display: flex
        font-size font-nr
        font-weight: 500
        line-height: 1.2em
        strong
            font-size font-nrm
            font-weight 400
            color: #acacac
            letter-spacing 1px
            text-transform uppercase
        > *
            width: 100%
        & + &
            margin-top: 7px
