@font-face {
    font-family: "Roboto Medium";
    src: url("Roboto-Medium_Italic.eot"); /* IE9 */
    src: url("Roboto-Medium_Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Roboto-Medium_Italic.woff") format("woff"), /* chrome, firefox */
    url("Roboto-Medium_Italic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Roboto-Medium_Italic.svg#Roboto Medium") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


