{% extends "frontend/base.html" %}
{% load static %}

{% block content %}
	<div class="Middle Middle_top">
		<div class="Middle-top">
			<div class="wrap">
				<div class="Middle-header">
					<h1 class="Middle-title">Оплата
					</h1>
					<ul class="breadcrumbs Middle-breadcrumbs">
						<li class="breadcrumbs-item"><a href="index.html">home</a>
						</li>
						<li class="breadcrumbs-item breadcrumbs-item_current">
							<span>Оплата</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="Section">
			<div class="wrap">
				<form class="form Payment" action="#" method="post">
					<div class="Payment-card">
						<div class="form-group">
							<label class="form-label">Номер счета </label>
							<input class="form-input Payment-bill" id="numero1" name="numero1" type="text" placeholder="9999 9999 9999 9999" data-mask="9999 9999 9999 9999" data-validate="require pay"/>
						</div>
						<div class="form-group">
							<a class="btn btn_success Payment-generate" href="#">Сгенирировать случайный счет</a>
						</div>
					</div>
					<div class="Payment-pay">
						<a class="btn btn_primary" href={% url "frontend:progress-payment" %}>Оплатить</a>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}