.{$px}wrap
    padding: 0 15px;
    max-width: ($maxWidth + (@padding[1] * 2))
    min-width: 320px
    width: 100%
    box-sizing: border-box
    margin: 0 auto
    position: relative
    //
    //&:after
    //    position: absolute
    //    left: 15px
    //    right: 15px
    //    top: 0
    //    bottom: 0
    //    content: ''
    //    background: red
    
    
    &-content
        margin: 0 auto
