@import 'frame-function.styl'

/*#################### Стили для иконок ####################*/

x(Icon)
+x()
    position: relative
    display: inline-block
    vertical-align: middle
    line-height: 0
    font-size: 0
    background-position: center center
    background-repeat: no-repeat
    &:before
        display: inline-block
        line-height: 0
        font-size: 0
    &_skype
        background: icon-skype
        width: 50px
        height: 50px
        background-size: cover
    &_mail
        background: icon-mail
        width: 50px
        height: 50px
        background-size: cover
