// Основной префикс
$px = ''
$pxm = '.'
//".rt--"

// Для двух выводов. Сейчас переработано для адаптива
//flag = 0
//$devices = flag==0?'mobile':'desktop'
// Для удобства сделал переход через флаг, не обязательный функционал

$block = ''

$phone = 480px
$tablet = 990px
$desktop = 1200px // точка адаптации между мобильной версией и десктопом
$maxWidth = 998px // Максимальная ширина с контейнерами

//fontMain = Lato, Arial, "Helvetica CY", Helvetica, "Nimbus Sans L", sans-serif
fontMain = PTSans, Verdana, Arial, "Helvetica CY", Helvetica, "Nimbus Sans L", sans-serif
fontAddit = BebasNeue, Verdana, Arial, "Helvetica CY", Helvetica, "Nimbus Sans L", sans-serif
fontAddit = fontMain


/*---------------- Основные цвета ----------------*/
clr-white = #ffffff
clr-black = #000000
clr-lt= #f7f7f7
clr-danger = #d23200
clr-muted = #b1b1b1
clr-success = #09ab3a
clr-info = #0fcabf;
clr-joy = #f6c72f;
clr-primary = #0173b4;
clr-primary_dark = #0066cc;
clr-warning = #f98561;
clr-dk = #101010;
/*-----------  Текст - цвета  -----------*/
text-main = clr-dk
text-muted = clr-muted
text-placeholder = #a3afb5


/*---------------- Фоны ----------------*/
bg-lt = #fafafa
bg-muted = #eceff1
bg-primary = #12a3d6
bg-navigate_ACTIVE = #e0e0e0
bg-navigate = clr-lt
bg-navigateTabs = #37474f
bg-navigate_muted = bg-lt
bg-navigateTabs_muted = #eee
bg-header_dark = #263238

/*---------------- Границы ----------------*/
bd-input = #777777

bd-radius_nr = 5px

/*---------------- Размеры блоков ----------------*/
height-header = 57px
input-height = 27px
input-padding = 0px 10px 12px
input-borderWidth = 1px

/*-----------  Настройки сообщений  -----------*/
message-side = 30px
message-side-margin = 15px

/*---------------- Размеры шрифтов ----------------*/
font-xs = 12px
font-sm = 15px

font-nrm = 17px
font-nr = 18px
font-nrp = 20px

font-mdm = 18px
font-md = 25px

font-lgm = 27px
font-lg = 31px

font-xl = 72px
font-xxl = 96px

/*---------------- Иконки ----------------*/

icon-back_primary = embedurl('../img/svg/back.svg')

// Иконка для логотипа
icon-logo = embedurl('../img/logo.png')

// Иконка для скайпа
icon-skype = embedurl('../img/icons/skype.png')

// Иконка для почты
icon-mail = embedurl('../img/icons/mail.png')










































